.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #12002b;
    color: #fff;
    padding: 2rem;
}

.header {
    margin-bottom: 2rem;
}

.account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: #fff;
    width: 80%;
    margin-bottom: 2rem;
    padding: 1.5rem;
    text-align: left;
}

.account_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
}

.account_title {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

.account_amount {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.account_amount_description {
    margin: 0;
}

.account_btn {
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    background-color: #00bc77;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.account_btn:hover {
    background-color: #007f56;
}