.list-item {
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  margin-top: 20px;
  position: relative;
  align-items: center;
  padding-left:150px;
}
.list-item p {
  color: black;
  font-size: 14px;
  text-transform: capitalize;
}
.list-item .icon-wrapper svg {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.list-item.reverse svg {
  transform: rotate(0deg);
}
.list-item .icon-wrapper {
  cursor: pointer;
  height: auto;
  width: auto;
}
.list-item .icon-wrapper.reverse {
  transform: rotate(360deg);
}
.transaction-details{
  display:flex;
  background-color: #FFFFFF;
  color:black;
  flex-direction: column;
  width:100%;
}
.transaction-type{
background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  margin-top: 20px;
  position: relative;
  align-items: center;
  padding-left: 233px;
  font-size:14px;
}
.transaction-category {
  padding-top: 20px;
  padding-left: 233px;
  padding-bottom: 20px;
  font-size:14px;
}
.transaction-notes {
  font-size: 14px;
  padding-bottom:10px;
  padding-left: 233px;
  
}

@media screen and (max-width: 992px) {
  .transaction-body{
    width:90%;
  }
    .transaction-details {
 
      width: 100%;
    }
   
        .list-item {
        padding-left: 0px;
        display: flex;
        justify-content: center;
        }
        .transaction-type {
   
        padding-left: 170px;
        font-size: 14px;
                }
        .transaction-category {

        padding-left: 170px;
                }
        .transaction-notes {
        font-size: 14px;
        padding-left: 170px;
        }
}
@media screen and (max-width: 768px) {
  .list-item p {
    font-size: 15px !important;
  }
  .list-item .collapsed-text p {
    font-size: 15px;
    margin: 0%;
  }
  .list-item .icon-wrapper svg {
    height: 15px !important;
    width: 14px !important;
  }
  .list-item .list-wrapper {
    width: 100%;
    top: -16px;
    left: 0;
  }
.list-item.reverse svg {
  transform: rotate(180deg);
}
 .transaction-body {
   width: 94%;
 }
}
@media screen and (max-width: 683px) {
  .list-item {
    width: 90%;
  }
    .list-item p {
      font-size: 12px !important;
    }
  .list-item .collapsed-text {
    width: 90%;
  }
     .transaction-details {
       width: 90%;
     }
}
@media screen and (max-width: 545px) {

  .list-item p {
    font-size: 12px !important;
  }
    .list-item {
      width: 100%;
    }
            .transaction-details {
              width: 100%;
            }

  .transaction-type {
    padding-left: 38px;
    font-size: 10px;
   }
        .transaction-category {
    
            padding-left: 38px;
              font-size: 10px;
        }
    
        .transaction-notes {
          padding-left: 38px;
            font-size: 10px;
        }

}

@media screen and (max-width: 390px) {

  .list-item p {
    font-size: 8px !important;
  }
    .transaction-type {
      padding-left: 91px;
      font-size: 8px;
    }

    .transaction-category {
      padding-left: 91px;
      font-size: 8px;
        }
    .transaction-notes {
      padding-left: 91px;
      font-size: 8px;
        
                }
    .transaction-details {
     width: 100%;
                    }

}