.input {
  width: 100px;
  background-color: white;
  color: gray;
  border: 2px solid gray;
  padding: 5px;
  border-radius: 5px;
}
.input-placeholder {
  color: #c4c4c4;
}

@media (min-width: 420px) {
  .input-large {
    width: 200px;
  }
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.buttons {
  width: 70px;
  padding: 5px;
  color: purple;
  background-color: white;
  border: 2px solid purple;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  border-radius: 5px;
}

.buttons:hover {
  transform: scale(1.06);
}

.buttons:focus {
  box-shadow: 0px 0px 3px 1px purple;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.edit-button {
  border-color: #3709e5;
  background-color: #3709e5;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out 0s;
}

.edit-button:hover {
  color: black;
  transform: scale(1.03);
}

.header {
  color: black;
  margin-bottom: 2rem;
}
