.main {
    padding: 20px;
    background-color: #f3f4f6;
    /* Ajustez la couleur de fond si nécessaire */
}

.transaction-table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-table thead {
    background-color: #e0e4e8;
    /* Couleur de l'en-tête du tableau */
}

.transaction-table th,
.transaction-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.transaction-table th {
    font-weight: bold;
    text-transform: uppercase;
}
.transaction-table tr {
 font-size: 20px;
 color: black;

}

.account_transaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #fff;
    width: 97%;
    text-align: left;
    margin-left: 23px;
    margin-right: 23px;
}

.balance_transaction{
  margin-left:23px;
  margin-right:23px;
  font-weight:bold;
  font-size:30px;
}

.transaction-summary{
    color:black;
    display:flex;
    justify-content: center;
    font-size: 10px;
    margin-right: 6px;
    margin-left: 62px;
}
.transaction-headers{
    display:flex;
    justify-content:center;
    gap:15%;
    color:black;
    padding-left: 150px;
    padding-right: 150px;
}
.transaction-headers-container{
    margin-left: 90px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
}
.account_description_transactions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    color: black;
    margin-top:23px;
    margin-bottom:23px;
}
.date{
    width:215px;
}
.description {
    width: 150px;
}
.amount {
    width: 100px;
}
.balance {
    width: 10px;
}

.account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1.5rem;
    text-align: left;
}

.balance_price {
font-size: 15px;
margin-left:39px;
margin-right: 31px;
}

.transaction-body{
margin-top:23px;
margin-bottom: 23px;

}

@media screen and (max-width: 992px) {
    .date {
            width: 164px;
        }
}
@media screen and (max-width: 683px) {
    .date {
        width: 61px;
        font-size: 12px;
    }
    .description {
    width: 95px;
      font-size: 12px;
        }
 .amount {
    width: 133px;
    font-size: 12px;
                }
        
 .balance {
  width: 54px;
 font-size: 12px;
                }
 .transaction-headers {
    display: flex;
    justify-content: center;
    gap: 15%;
    color: black;
    padding-left: 0px;
    padding-right: 57px;
         }
}
@media screen and (max-width: 545px) {

.amount {
        width: 83px;
       
    }
         .date {
             width: 89px;
            
         }
         .transaction-headers {
         
             padding-left: 150px;
             padding-right: 150px;
         }
         .transaction-summary{
            margin-left:8px;
         }
         .transaction-headers-container{
            margin-left: 36px;
         }
     

}

@media screen and (max-width: 469px) {

    .amount {
        width: 61px;

    }


}


@media screen and (max-width: 390px) {

.date {
    font-size: 8px;
    width: 50px;
    }

    .description {
        font-size: 8px;
        width: 75px;
    }

    .amount {
    font-size: 8px;
    width: 56px;
    }

    .balance {
        font-size: 8px;
        width: 30px;
    }


}


